/* ============================================
   BARLOW + BARLOW CONDENSED – lokal gehostet
   Fonts liegen in /fonts/
   ============================================ */

/* Barlow – Regular 400 */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('barlow-400.woff2') format('woff2');
}

/* Barlow – Italic 400 */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('barlow-400-italic.woff2') format('woff2');
}

/* Barlow – Medium 500 */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('barlow-500.woff2') format('woff2');
}

/* Barlow – SemiBold 600 */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('barlow-600.woff2') format('woff2');
}

/* Barlow Condensed – Bold 700 */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('barlow-condensed-700.woff2') format('woff2');
}

/* Barlow Condensed – ExtraBold 800 */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('barlow-condensed-800.woff2') format('woff2');
}

/* Barlow Condensed – Black 900 */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('barlow-condensed-900.woff2') format('woff2');
}
